

@{
    Layout = null;
}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2 class="footer-heading mb-4">About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                </div>
                <div class="border-top pt-5">
                    <h2 class="footer-heading mb-4">Quick Links</h2>
                    <ul class="list-unstyled" style="padding-right: 20px;">
                        <!-- Adjust the padding as needed -->
                        <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                        <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                        <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                        <li><a href="#services-section" class="smoothscroll">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 ml-auto">
                <h2 class="footer-heading mb-4">Contact Details</h2>
                <p class="contact-details">
                    <small>
                        Address: 391A Đ. Nam Kỳ Khởi Nghĩa, Võ Thị Sáu, Quận 3, Thành phố Hồ Chí Minh 72118
                        <br>
                        Phone: 0838150169
                        <br>
                        Email: nexbank.online.banking@gmail.com
                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d291.3013247082309!2d106.68224328208709!3d10.790786816684518!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fcdf5e6b00b%3A0xed1c6762515e1113!2sFPT%20Aptech%20-%20Game%20Development%20with%20Unity!5e0!3m2!1svi!2s!4v1702472934511!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </small>
                </p>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright">
                        <small>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


