@model List<InternetBanking.Models.FAQ>
@{
    Layout = "LayoutIndex";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Index.css" />
}

<body>

    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade" id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10 mt-lg-5 text-center">
                    <div class="single-text owl-carousel">
                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">All-In-One Banking Hub</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Access a comprehensive suite of banking services, from managing accounts and transactions to applying for loans—all within a single, user-friendly platform.</p>
                        </div>

                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">Banking on the Go</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Experience the freedom of banking anytime, anywhere. Our mobile banking app empowers you with secure access to your accounts, transfers, and payments, right from the palm of your hand.</p>
                        </div>

                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">Innovation for Tomorrow</h1>
                            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Embrace the future of banking with [Your Bank's Name]. We're committed to continuous innovation, bringing you the latest advancements in financial technology.</p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#next" class="mouse smoothscroll">
                <span class="mouse-icon">
                    <span class="mouse-wheel"></span>
                </span>
            </a>
        </div>
    </div>

    <div class="site-section" id="next">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
                    <img src="images/flaticon-svg/svg/001-wallet.svg" alt="Wallet Icon" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Money Savings</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/flaticon-svg/svg/004-cart.svg" alt="Cart Icon" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Personalized Accounts</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="images/flaticon-svg/svg/006-credit-card.svg" alt="Credit Card Icon" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Credit / Debit Cards</h3>
                    <p>Elevate your spending experience with our feature-rich debit and credit cards. Earn rewards on every purchase, enjoy exclusive perks, and experience the convenience of cashless transactions.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section cta-big-image" id="about-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
                    <p class="lead" data-aos="fade-up" data-aos-delay="100">Unlock a new era of financial empowerment with NexBank, your trusted ally in banking excellence. We take pride in our commitment to providing innovative solutions tailored to meet your unique financial goals.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                        <img src="images/hero_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black mb-4">Strategic Banking</h3>
                    <p>Our expert team understands the dynamic financial landscape. We offer strategic banking solutions that evolve with your needs, ensuring your financial success.</p>
                    <p>Personalized Service: Experience banking on a personal level. NexBank delivers a customer-centric approach, providing tailored services that reflect your individual aspirations.</p>
                    <p>Wealth Management: Secure your future with NexBank's wealth management services. Our experts craft strategies to safeguard and grow your assets.
                       
                       Join the NexBank family and experience banking redefined. Your journey to financial success begins here.</p>
                </div>
            </div>

        </div>
    </div>

<section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Happy Customers</h2>
            </div>
        </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                </blockquote>

                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img src="images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>John Smith</p>
                </figure>
            </div>
        </div>
        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Christine Aguilar</p>
                </figure>

            </div>
        </div>

        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Robert Spears</p>
                </figure>

            </div>
        </div>

        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Bruce Rogers</p>
                </figure>

            </div>
        </div>

    </div>
</section>
<div class="row site-section" id="faq-section">
    <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title">Frequently Ask Questions</h2>
    </div>
</div>
<div class="container">
    <div class="row">
              <div class="col-lg-6">
                @foreach (var item in ViewBag.FAQ)
                {
                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">@item.Question</h3>
                        <p>@item.Answer</p>
                    </div>
                }
              </div>
              
            </div>
</div>

    <div class="row site-section" id="contact-section">
        <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">Contact Us Now</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="section-title">Contact Information</h2>
                    <p class="lead">Feel free to reach out if you have any questions or concerns.</p>

                    <div class="contact-info">
                        <h4>Email</h4>
                        <p><a href="mailto:nex.bank.online@gmail.com">nex.bank.online@gmail.com</a></p>

                        <h4>Address</h4>
                        <p>391 Nam Kỳ Khởi Nghĩa, District 3, Ho Chi Minh City</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>