@model InternetBanking.Models.HelpRequest

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
}

<h1>Update</h1>

<h4>HelpRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AccountId" />
            <div class="form-group">
                <label asp-for="RequestTypeId" class="form-label">Request Type</label>
                <div class="input-group input-group-outline my-3">
                    <select asp-for="RequestTypeId" class="form-control" required>
                        <option value="">Select a request type</option>
                        @foreach (var helpRequestType in ViewBag.HelpRequestsTypes)
                        {
                            <option value="@helpRequestType.RequestTypeId">@helpRequestType.TypeName</option>
                        }
                    </select>
                    <div class="invalid-feedback">Please select a request type.</div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="form-label">Content</label>
                <div class="input-group input-group-outline my-3">
                    <input asp-for="Content" class="form-control" required />
                    <span asp-validation-for="Content" class="text-danger"></span>
                    <div class="invalid-feedback">Please provide content for the request.</div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
