@model InternetBanking.Models.Transaction

@{
    ViewData["Title"] = "Transaction Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Transaction Detail</h1>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Transaction</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-4">Sender Account</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.SenderAccountNumber)</dd>

                        <dt class="col-sm-4">Receiver Account</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ReceiverAccountNumber)</dd>

                        <dt class="col-sm-4">Amount</dt>
                        <dd class="col-sm-8">$@Html.DisplayFor(model => model.Amount)</dd>

                        <dt class="col-sm-4">Content</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Content)</dd>

                        <dt class="col-sm-4">Transaction Date</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TransactionDate)</dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-4">
                <a asp-action="TransactionHistory" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>
