@using InternetBanking.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<InternetBankingUser> SignInManager
@inject UserManager<InternetBankingUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" href="#" title="Manage">Hello @User.Identity?.Name</a>
    </li>

            
            <li class="nav-item ">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a href="" class="nav-link text-body font-weight-bold px-0">
                        <i class="fa fa-user me-sm-1"></i>
                        <button type="submit" class="btn btn-link border-0 d-sm-inline d-none" style="display: none;">Sign Out</button>

                    </a>
                    
                </form>
            </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
