@model InternetBanking.Models.Deposit

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Index</h1>

<h4>Deposit</h4>
<hr />
@if (ViewBag.Result != null)
{
        <span class="text-@ViewBag.Color">@ViewBag.Result</span>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessDeposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" min="0" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositAccountNumber" class="control-label"></label>
                <input asp-for="DepositAccountNumber" class="form-control" />
                <span asp-validation-for="DepositAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <!-- Display the result message with appropriate styling -->
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
