@model InternetBanking.Models.Account

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Create Account</h6>
                    </div>
                </div>
                <div class="card-body px-4 pb-2">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            
                            
                            <label asp-for="AccountTypeId" class="form-label">Account Type</label>
                            <div class="input-group input-group-outline my-3">
                                <select asp-for="AccountTypeId" class="form-control">
                                    @foreach (var type in ViewBag.Types)
                                    {
                                        <option value="@type.Id">@type.TypeName</option>
                                    }
                                </select>
                            </div>
                           
                            <div class="col-12 mt-4">
                                <div class="form-group text-center">
                                    <input type="submit" value="Create" class="btn btn-primary w-100" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

