@model InternetBanking.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<hr />
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Customer Details</h6>
                </div>
            </div>
            <div class="card-body px-4 pb-2">
                <form asp-action="Details" class="multisteps-form__form">
                    <div class="multisteps-form__panel border-radius-xl bg-white js-active" data-animation="FadeIn">
                        <h5 class="font-weight-bolder mb-0">Customer Details</h5>
                        <p class="mb-0 text-sm">Customer Information</p>
                        <div class="multisteps-form__content mt-3">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PersonalId" class="form-label">Personal ID</label>
                                        <input asp-for="PersonalId" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Email" class="form-label">Email</label>
                                        <input asp-for="Email" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="form-label">Phone</label>
                                        <input asp-for="Phone" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="form-label">First Name</label>
                                        <input asp-for="FirstName" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LastName" class="form-label">Last Name</label>
                                        <input asp-for="LastName" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Address" class="form-label">Address</label>
                                        <input asp-for="Address" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OpenDate" class="form-label">Open Date</label>
                                        <input asp-for="OpenDate" class="multisteps-form__input form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Status" disabled /> @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="form-group text-center">
                                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
