@using InternetBanking.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<InternetBankingUser> SignInManager
@inject UserManager<InternetBankingUser> UserManager

@* @model TModel *@

@{
    Layout = null;
}

<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    @if(SignInManager.IsSignedIn(User)){
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/images/logo.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a asp class="d-block">@User.Identity?.Name!</a>
        </div>
    </div>
    }
    

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                 <li class="nav-header">Nex Bank Account</li>
                 @* Account *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Accounts
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Account" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Account</p>
                        </a>
                    </li>
                </ul>
            </li>
            @* Customer *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Customers
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Customers" asp-action="Index">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Customer</p>
                        </a>
                    </li>
                </ul>
            </li>
            
                 @* Help Request *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Help Request 
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="HelpRequest" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Help Request</p>
                        </a>
                    </li>
                </ul>
            </li>
            
                 @* Help Request Type *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Help Request Types
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="HelpRequestType" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Help Request Types</p>
                        </a>
                    </li>
                </ul>
            </li>
            
                 @* FAQ *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        FAQ
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Faq" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage FAQ</p>
                        </a>
                    </li>
                </ul>
            </li>
            
                 @* FAQ Category *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        FAQ Category
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="FaqCategory" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage FAQ Category</p>
                        </a>
                    </li>
                </ul>
            </li>
            
                 
                 @* Statement *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Statement
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Statement" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Transaction Statements</p>
                        </a>
                    </li>
                </ul>
                     
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Statement" asp-action="CreateStatement" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Export Transaction Statements Within Period</p>
                        </a>
                    </li>
                </ul>
            </li>
            
            @* Tranferfund *@
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Transfer fund
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Transaction" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Transaction</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Transaction" asp-action="TransactionHistory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Transaction History </p>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
  